@import '../../../styles/variables.scss';

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 20px;
}

.btn {
  margin: 0 auto;
  border: 2px solid transparent;
  border-radius: 50%;
}

.active {
  margin: 0 auto;
  border: 2px solid;
  border-radius: 50%;
}

.colorBtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
