@import '../../../../styles/variables.scss';

.btn {
  width: 90px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  gap: 5px;
  color: $light-gray;
}

.btn:hover {
  color: white;
}

.btn:active {
  color: scale(0.95);
}

.iconWrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 14px;
  text-transform: uppercase;
}
