@import '../../../styles/variables.scss';

.value {
  color: $lilac;
  transition: filter 0.3s;
}

.navItem {
  cursor: pointer;

  &:hover .value {
    filter: brightness(1.2);
  }
}

.modalWrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.modalContent {
  padding: 10px;
}

.modalBtn {
  align-self: flex-end;
}
