@import '../../../../styles/variables.scss';

.modalWrapper {
  padding: 10px;
  color: white;
}
.modalTitle {
  text-transform: uppercase;
  color: $gray;
  font-weight: 700;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  border-bottom: 2px solid $gray;
}

.modalSubtitle {
  text-transform: uppercase;
  color: $gray;
  font-weight: 700;
  padding: 10px;
}