//Colors
//background
$lilac: #5c6ac2;
$dark-gray: #2a3139;
$light-gray: #a8adb3;
$green: #18ab81;

//font
$turquoise: #6ebaa0;
$red-font: #cd4863;
$gray: #7f7f7f;

//category
$blue: #4154b0;
$blue-light: #4da8ef;
$pink: #fa4c87;
$orange: #eda948;
$green: #5aae59;
$red-light: #f95c57;
$violet: #8256ff;
$brown: #875e58;
$red: #f34334;
$orchid: #9d29b2;
$purpul: #673bb6;
$cyan: #18ab81;
$green-light: #4cb050;
$pear: #cbdc38;
$orange-light: #fec107;
$gray-dark: #607d8b;
$gray-light: #f8f8f8;
