@import '../../styles/variables.scss';

.transactionPage {
  flex-grow: 1;
}

.transactionWrapper {
  height: calc(100vh - 115px - 65px);
  overflow-y: scroll;

  &::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    border-radius: 3px;
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: $gray;
  }
}
