@import '../../../styles/variables.scss';

.link {
  text-decoration: none;
  transition: all 0.3s;
}

.linkButton {
  cursor: pointer;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
