.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 0;
  background-color: black;
  opacity: 0;
  transition: opacity 0.2s;
}

.overlayOpen {
  opacity: 0.4;
  width: 100%;
}

.drawer {
  z-index: 2;
}

.filter {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerBottom {
  padding: 0 24px 10px;
  text-align: center;
}

.iconButton {
  padding: 10px;
  cursor: pointer;
}