.filterWrapper {
  height: 60px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 0;
  background-color: black;
  opacity: 0;
  transition: opacity 0.2s;
}

.overlayOpen {
  opacity: 0.4;
  width: 100%;
}

.overlayOpenTransparent {
  width: 100%;
}

.drawer {
  z-index: 2;
}

.filter {
  position: relative;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 74px;
}

.iconButton {
  padding: 10px;
  cursor: pointer;
  width: 50px;
}

.input {
  opacity: 0;
  width: 0;
  display: flex;
  flex-direction: row;
  transition: width 0.3s;
}

.inputVisible {
  opacity: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  transition: width 0.3s;
  z-index: 2;
}

.iconButtonCheck {
  color: green;
  background-color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  cursor: pointer;
}

.iconButtonSearch {
  color: white;
  padding: 10px;
}
