@import '../../../styles/variables.scss';

.paper {
  position: 'absolute';
  width: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 30px;
}

.modalTitle {
  padding-bottom: 20px;
}

.modalContent {
  padding-bottom: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 10px;
}

.title {
  transition: color 0.3s;
}

.deleteButton {
  cursor: pointer;

  &:hover .title {
    color: $lilac;
  }
}
