@import '../../../styles/variables.scss';

.add {
  color: white;
}

.upper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerTitle {
  flex-grow: 1;
  margin-left: 10px;
}

.inner {
  padding: 0 20px 20px;
  background-color: $dark-gray;
  display: flex;
  flex-direction: column;
}

.btn {
  margin: -25px 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconWrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.balanceWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
