@import '../../../styles/variables.scss';

.transaction {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  cursor: pointer;
  border-bottom: 0.5px solid $gray;
}

.iconWrapper,
.accountIconWrapper {
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  flex-shrink: 0;
}

.accountIconWrapper {
  border-radius: 5px;
}

.infoWrapper {
  display: flex;
  gap: 20px;
}

.categoryName {
  font-size: 22px;
}

.info {
  display: flex;
  align-items: center;
  gap: 5px;

  & .accountIcon {
    font-size: 20px;
  }
}

.accountName {
  font-size: 16px;
}

.description {
  font-size: 14px;
  color: $light-gray;
}

.amountPositive,
.amountNegative,
.amountNone {
  font-size: 22px;
  color: #18ab81;
}

.amountNegative {
  color: #cd4863;
}

.amountNone {
  color: $gray;
}
