@import '../../../../styles/variables.scss';

.modalWrapper {
  padding: 20px;
  max-height: 50vh;
  overflow-y: scroll;

  &::-webkit-scrollbar-track {
    padding: 2px 0;
    border-radius: 3px;
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    border-radius: 3px;
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: $gray;
  }
}
.modalTitle {
  text-transform: uppercase;
  color: $gray;
  font-weight: 700;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  border-bottom: 2px solid $gray;
}

.modalSubtitle {
  text-transform: uppercase;
  color: $gray;
  font-weight: 700;
  padding: 10px;
}

.amountBlock{ 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
