.wrapper {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  font-size: 16px;
  padding: 20px 0;
}

.btn {
  display: flex;
  align-items: center;
  font-size: 24px;
  text-transform: uppercase;
  background-color: #f3433430;
  padding: 10px;
  color: #f34334;
  border-radius: 5px;
}

.btn:hover {
  background-color: #f3433460;
}

.btn:active {
  transform: scale(0.95);
}
