.wrapper {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 15px;
}

.header {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
}

.iconWrapper {
  width: 50px;
  height: 45px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerText {
  font-size: 20px;
  font-weight: bold;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btnsWrapper {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: flex-end;
}

.btn {
  padding: 5px;
  font-size: 14px;
  text-transform: uppercase;
}

.delete {
  color: #f3433490;
}

.delete:hover {
  color: #f34334;
}

.cancel {
  color: #a8adb390;
}

.cancel:hover {
  color: #a8adb3;
}
