@import '../../../styles/variables.scss';

.chartWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}

.chartInfo {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  padding: 20px;
  transition: filter 0.3s;

  &:hover {
    filter: brightness(1.2);
  }
}

.totalExpenses {
  font-size: 20px;
  padding: 10px;
}

.transactionType {
  font-size: 16px;
}
