@import '../../../styles/variables.scss';

.outputWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 5px;
  border-bottom: 1px solid $gray;
  margin-bottom: 5px;
}

.outputTitle {
  color: $gray;
}

.output {
  width: 100%;
  text-align: center;
  font-size: 28px;
  color: $gray;
  overflow: hidden;
}

.inputWrapper {
  display: flex;
  justify-content: center;
}

.calcGrid {
  width: 320px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 55px);
}

.btn {
  background-color: transparent;
  color: $gray;
  border: 0.5px solid $gray;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ok {
  background-color: $lilac;
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 5;
  font-size: 34px;
  color: white;
}
