@import '../../../styles/variables.scss';

.btnsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 10px;
  gap: 20px 10px;
  align-items: center;
}

@media (max-width: 450px) {
  .btnsWrapper {
    grid-template-columns: 1fr 1fr;
  }
}
