@import '/node_modules/normalize.css';
@import './styles/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

#root {
  background-color: $dark-gray;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';

  .SnackbarContainer-bottom {
    bottom: 65px;
  }
}
.main {
  grid-area: main;
}

.material-icons {
  font-size: 30px;
}

a.text:active,
a.text:hover,
a.text {
  text-decoration: none;
  color: #666;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

button {
  background-color: transparent;
  border: none;
  transition: all 0.2s;
  cursor: pointer;
  outline: none;
}

button:active {
  transform: scale(0.95);
}
