@import '/node_modules/normalize.css';
@import './styles/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  //background-color: $dark-gray;
}

.material-icons {
  font-size: 30px;
}

a.text:active, /* активная/посещенная ссылка */
a.text:hover,  /* при наведении */
a.text {
  text-decoration: none;
  color: #666;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

button {
  background-color: transparent;
  border: none;
  transition: all 0.2s;
  cursor: pointer;
}

button:active {
  transform: scale(1.05);
}
